<!-- Your exact PB Tech HTML template goes here -->
<!-- Replace dynamic values with {{variableName}} placeholders -->
<!-- Example: -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- ... rest of head ... -->
    <title>PB Tech</title>
</head>
<body>
    <!-- ... header content ... -->
    
    <p style="font-size:16px;color:#404041;margin-bottom:10px;margin-top:0px;">Hi {{customerName}},</p>
    <p style="font-size:16px;color:#404041;margin-bottom:0px;margin-top:0px;">
        Thank you for your order #: 
        <a style="text-decoration:underline;color:#1278A5;" href="#">
            <b style="color:#1578A5;text-decoration:underline;">{{orderNumber}}</b>
        </a>
    </p>
    
    <!-- Delivery Address -->
    <p style="font-size:16px;color:#404041;margin:0;">
        {{deliveryAddress}}
    </p>
    
    <!-- Product Details -->
    <p class="hide_for_mobile" style="font-size:14px;margin:0;">
        <a style="text-decoration:underline;color:#1278A5;" href="#">
            <b>{{productName}}</b>
        </a>
    </p>
    
    <!-- ... rest of your template with similar replacements ... -->
</body>
</html>